<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>MyApp</Name>
    <Version>1.0.0</Version>
    <Title>MyApp Installer</Title>
    <Publisher>Waleon</Publisher>
    <StartMenuDir>IFW Examples</StartMenuDir>
    <TargetDir>@ApplicationsDir@/MyApp</TargetDir>
    <RemoteRepositories>
        <Repository>
            <Url>https://raw.githubusercontent.com/Waleon/QtIFW/master/OnlineUpdate/repository</Url>
            <Enabled>1</Enabled> 
            <Username>550755606@qq.com</Username>
            <Password>waleon.19890820</Password>
            <DisplayName>Example repository</DisplayName>
        </Repository>
    </RemoteRepositories>
</Installer>
